services:
  php:
    build: .
    container_name: php
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    
  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: biblionteca
    ports:
      - "5433:5432"